<div class="row justify-content-md-end" style="margin-top: 20px;">
  <button type="button" class="btn btn-primary taskbuttons fade-in-right" data-bs-toggle='modal' data-bs-target='#add-task' style="width: 10rem;">Add Task</button>
</div>
    
<div class="row mb-4">
  <div class="col-sm-3">
    <div class="card text-center fade-down-animation" >
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
      </div>
    </div>
    <div class="card text-center fade-down-animation">
      <div class="card-body">
        <p class="card-text">{{description}}</p>
      </div>
    </div>
    {{!-- <div class="card text-center">
      <div class="card-body">
        <p class="card-title">Project Tasks Status: {{tasks.length}} </p>
        <p class="card-text">Future: {{task.state}}</p>
        <p class="card-text">In Progress: {{task.state}}</p>
        <p class="card-text">Done: {{task.state}}</p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <p class="card-title">Employees in this project:</p>
          {{#each project_member}}
              <a class="card-text block">{{first_name}} {{last_name}} </a>
          {{/each}} 
      </div>
    </div> --}}
</div>

<div class="col-sm-9">
    
{{#each tasks as |task| }}
      <div class="row">
        <div class="card projects">
          <div class="card-body">
            <div class="row ">
              <div class="col">
                <span style="font-weight: 600; font-size: 18px;">{{title}}</span>
                <span class="card-subtitle mb-2 text-muted"> Due date: {{format_date due_date}}</span>
                <p class="card-text">{{description}}</p>
              </div>
              <div class="col btn-col" style="text-align: end;">
                <div class="btn-group" role="group{{title}}" aria-label="{{task}}-radio-btns">
                  <input type="radio" class="btn-check" name="{{title}}-status" id="{{title}}-pending" autocomplete="off">
                  <label class="btn btn-outline-primary" for="{{title}}-pending">Pending</label>

                  <input type="radio" class="btn-check" name="{{title}}-status" id="{{title}}-progress" autocomplete="off">
                  <label class="btn btn-outline-primary" for="{{title}}-progress">In progress</label>

                  <input type="radio" class="btn-check" name="{{title}}-status" id="{{title}}-finished" autocomplete="off">
                  <label class="btn btn-outline-primary" for="{{title}}-finished">Finished</label>
                </div>
                <div>
             <button type="button" class="btn btn-danger" id="delete-task" style="width: 10rem; font-weight: 600; font-size: 16px;">Delete Task</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{{/each}}

</div>

<!-- New Task Modal -->
<div class="modal fade" id="add-task" tabindex="-1" role="dialog" aria-labelledby="add-task" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Task</h4>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form id='new-project-form'>
          <div class='mb-3'>
            <label for='title' class='form-label'>Title</label>
            <input type='text' class='form-control' id='title' />
          </div>
          <div class='mb-3'>
            <label for='description' class='form-label'>Description</label>
            <textarea type='text' class='form-control' id='description' rows="4"></textarea>
          </div>
          <div class="mb-3">
          <label for="due-date">Due date:</label>
        <input type="date" id="dueDate" name="due-date" value="2022-03-06"
       min="2022-03-01" max="2025-12-31">
        </div>
          <button type='submit' class='btn btn-primary'>Add task</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/project.js"></script>
<!--Modal -->

    
