<<<<<<< HEAD


<div class="row justify-content-md-end">
    <button type="button" class="btn btn-primary btn-sm" id= "projectbttn" style="width: 10rem;">Add Project</button>
=======
<div class="row justify-content-md-end" style="margin-top: 20px;">
    <button type="button" class="btn btn-primary btn-sm nav-link" id="projectbttn" data-bs-toggle='modal'
            data-bs-target='#add-project' style="width: 10rem; font-weight: bold; font-size: 18px">Add Project</button>
>>>>>>> main
  </div>

<div class="row mb-4">
    <div class="col-sm-3">
      <div class="card text-center fade-down-animation" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{first_name}} {{last_name}}</h5>
          <p class="card-text">{{role}}</p>
        </div>
      </div>
      <div class="card text-center fade-down-animation" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">My tasks</h5>
          <p class="card-text">Future: 3</p>
          <p class="card-text">In progress: 2</p>
          <p class="card-text">Done: 1</p>
        </div>
      </div>
    </div>

<div class="col-sm-9">

{{#each current_projects as |project| }}
  <div class="row">
    <div class="card projects">
      <div class="card-body">
        <div class="row ">
          <div class="col-10">
            <a href="/project/{{project.id}}" class="project-title">{{project.title}}</a>
            <p class="card-text">{{project.description}}</p>
          </div>
          <div class="col-2">
<<<<<<< HEAD
              <button  onclick="viewProject({{project.id}})" type="button" class="btn btn-primary btn-sm editProjectBttn"style="width: 10rem;">Go To Project</button>
=======
              <button type="button" class="btn btn-primary btn-sm" id= "editProjectBttn" style="width: 10rem;">View Project</button>
>>>>>>> main
          </div>
        </div>
        </div>
      </div>
      </div>
{{/each}}

</div>

<!-- New Project Modal -->

<div class="modal fade" id="add-project" tabindex="-1" role="dialog" aria-labelledby="add-project" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Project</h4>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form id='new-project-form'>
          <div class='mb-3'>
            <label for='title' class='form-label'>Title</label>
            <input type='text' class='form-control' id='title' />
          </div>
          <div class='mb-3'>
            <label for='description' class='form-label'>Description</label>
            <textarea type='text' class='form-control' id='description' rows="4"></textarea>
          </div>
          <button type='submit' class='btn btn-primary'>Add project</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/projectsHomepage.js"></script>